<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link rel="stylesheet"  href="/static/css/swiper-bundle.min.css" th:href="@{/css/swiper-bundle.min.css}" />
    <link rel="stylesheet"  href="/static/css/style.css" th:href="@{/css/style.css}" />
    <link th:href="@{/ImagenesWeb/usuario.png}"  rel="shortcut icon" type="image/x-icon" />
    <title> Cuenta </title>
</head>
<body>
<header class="header" id="header">
    <nav class="nav container">
        <a href="" class="navL">
            <img src="/static/ImagenesWeb/usuario.png" th:src="@{/ImagenesWeb/usuario.png}" alt="favicon" class="navL-img">
            <span th:text="${nombre}">Nombre</span>
        </a>
        <div class="navM" id="nav-menu">
            <ul class="navList">
                <li class="navItem">
                    <a href="#home" class="navLink active-link"> Inicio </a>
                </li>
                <li class="navItem">
                    <a href="#about" class="navLink">
                        Consultas
                    </a>
                </li>
                <li class="navItem">
                    <a href="#product" class="navLink">
                        Servicios </a>
                </li>
                <li class="navItem">
                    <a href="#programar" class="navLink">Programar Transacciones</a>
                </li>
            </ul>
            <div class="navClose" id="nav-close">
                <i class="bx bx-x"></i>
            </div>
        </div>
        <div class="navToggle" id="nav-toggle">
            <i class="bx bx-grid-alt"></i>
        </div>
    </nav>
</header>
<main class="main">
    <section class="home container" id="home">
        <div class="swiper home-swiper">
            <div class="swiper-wrapper">
                <section>
                    <div class="homecont grid">
                        <div class="homedata">
                            <h1 class="hometitle"> Bienvenido </h1>
                            <p class="homedes">
                              ¿Que quieres hacer?
                            </p>
                            <div class="homebut">
                                <a th:href="@{informacion}" class="button">Ver Informacion</a>
                                <a th:href="@{rango}" class="button ">Rango</a>
                            </div>
                            <div class="saldodata">
                                <h1 class="hometitle" >Saldo</h1>
                                <h2 class="hometitle" th:text="${saldo}">$</h2>
                            </div>
                        </div>

                        <div class="homegroup">
                            <img src="/static/ImagenesWeb/pagos.jpg" th:src="@{/ImagenesWeb/pagos.jpg}" alt="" class="homeimg">
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>
    <!--Categoria-->
    <section class="section category"  id="about">
        <h2 class="sectiontitle"> Consultas <br> Categorias</h2>
        <div class="categorycontainer container grid">
            <div class="categorydata">
                    <img class="categoryimg"  src="/static/ImagenesWeb/programar.jpg" th:src="@{ImagenesWeb/programar.jpg}" alt="facto">
                    <h3 class="categorytitle">Cuenta ahorros</h3>
                    <button class="button historial"  >Ver ahorros</button>
            </div>
            <div class="categorydata">
                <form th:action="@{historial}" method="get">
                <img class="categoryimg"  src="/static/ImagenesWeb/historial.jpg" th:src="@{ImagenesWeb/historial.jpg}" alt="facto">
                <h3 class="categorytitle">Conoce tu historial</h3>
                <button class="button historial"  >Ver historial</button>
                </form>
            </div>

            <div class="categorydata">
                <img class="categoryimg" src="/static/ImagenesWeb/total.jpg" th:src="@{ImagenesWeb/total.jpg}" alt="facto">
                <h3 class="categorytitle">Cuenta de gastos</h3>
                <button class="button saldo">Gastos</button>
            </div>
        </div>
    </section>

    <!--Puntos-->
    <section class="section product" id="product">
        <h2 class="sectiontitle">Servicios</h2>
        <div class="productcontainer container grid">
            <div class="productcontent">
                <form th:action="@{depositar}" method="post">
                <img src="/static/ImagenesWeb/depositar.jpg" th:src="@{ImagenesWeb/depositar.jpg}" alt="" class="productimg" />
                <h3 class="producttitle">Depositar</h3>
                <span class="productsubtitle"></span>
                <button class="button productbutton" th:href="@{depositar}">Deposita
                    <i class="bx bx-cart-alt buttonicon"></i>
                </button>
                </form>
            </div>
            <div class="productcontent">
                <form th:action="@{retiro}" method="post">
                <img src="/static/ImagenesWeb/retirar.jpg" th:src="@{ImagenesWeb/retirar.jpg}" alt="" class="productimg" />
                <h3 class="producttitle">Retirar</h3>
                <span class="productsubtitle"></span>
                <button class="button productbutton" th:href="@{retiro}">Retira
                    <i class="bx bx-cart-alt buttonicon"></i>
                </button>
                </form>
            </div>
            <div class="productcontent">
                <form th:action="@{envio}" method="post">
                <img src="/static/ImagenesWeb/transferir.png" th:src="@{ImagenesWeb/transferir.png}" alt="" class="productimg" />
                <h3 class="producttitle">Transferir</h3>
                <span class="productsubtitle"></span>
                <button class="button productbutton" th:href="@{envio}">Transfiere
                    <i class="bx bx-cart-alt buttonicon"></i>
                </button>
                </form>
            </div>
            <div class="productcontent">
                <form th:action="@{puntos}" method="post">
                <img src="/static/ImagenesWeb/puntos.png"  th:src="@{ImagenesWeb/puntos.png}" alt="" class="productimg" />
                <h3 class="producttitle">Consultar puntos</h3>
                <span class="productsubtitle"></span>
                <button class="button productbutton" th:href="@{puntos}">VER
                    <i class="bx bx-cart-alt buttonicon"></i>
                </button>
                </form>
            </div>
            <div class="productcontent">
                <img src="/static/ImagenesWeb/redimir.jpg" th:src="@{ImagenesWeb/redimir.jpg}" alt="" class="productimg" />
                <h3 class="producttitle">Redime tus puntos</h3>
                <span class="productsubtitle"></span>
                <button class="button productbutton">Redimir
                    <i class="bx bx-cart-alt buttonicon"></i>
                </button>
            </div>
        </div>
    </section>
    <!--Puntos-->
    <section class="section product" id="programar">
        <h2 class="sectiontitle">Tipos de transaccion</h2>
        <div class="productcontainer container grid">
            <div class="productcontent">
                    <img src="/static/ImagenesWeb/programar.jpg" th:src="@{ImagenesWeb/programar.jpg}" alt="" class="productimg" />
                <form th:action="@{depositoPrograma}" method="post">
                    <h3 class="producttitle">Programar Deposito</h3>
                    <span class="productsubtitle"></span>
                    <button type="submit" class="button productbutton" th:href="@{depositoPrograma}">Deposita
                        <i class="bx bx-cart-alt buttonicon"></i>
                    </button>
                </form>
            </div>
            <div class="productcontent">
                    <img src="/static/ImagenesWeb/programarRetiro.jpg" th:src="@{ImagenesWeb/programarRetiro.jpg}" alt="" class="productimg" />
                    <h3 class="producttitle">Programar Retiros</h3>
                <form th:action="@{retiroPrograma}">
                    <span class="productsubtitle"></span>
                    <button class="button productbutton" th:href="@{retiroPrograma}">Retiro
                        <i class="bx bx-cart-alt buttonicon"></i>
                    </button>
                </form>
            </div>
            <div class="productcontent">
                    <img src="/static/ImagenesWeb/programarTraspasos.jpg" th:src="@{ImagenesWeb/programarTraspasos.jpg}" alt="" class="productimg" />
                <form th:action="@{transferirPrograma}" method="post">
                    <h3 class="producttitle">Programar Transferencias</h3>
                    <span class="productsubtitle"></span>
                    <button class="button productbutton" th:href="@{transferirPrograma}" >Transfiere
                        <i class="bx bx-cart-alt buttonicon"></i>
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>