<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Programar Transaccion</title>
  <link rel="stylesheet"  href="/static/css/swiper-bundle.min.css" th:href="@{/css/swiper-bundle.min.css}" />
  <link rel="stylesheet"  href="/static/css/programar.css" th:href="@{/css/programar.css}" />
  <link th:href="@{/ImagenesWeb/programarRetiro.jpg}" href="/static/ImagenesWeb/programarRetiro.jpg" rel="shortcut icon" type="image/x-icon" />
  <title> Programar Transaccion </title>
</head>
<body>
<div class="deposit-card">
  <h2>Formulario de Retiro</h2>
  <form th:action="@{/programaRetiro}" method="post">
    <div class="form-group">
      <label for="monto">Monto a Reatirar:</label>
      <input type="number" step="0.01" id="monto" name="monto" placeholder="Ingrese el monto" required />
    </div>

    <div class="form-group">
      <label for="fecha">Fecha y hora del depósito:</label>
      <input type="datetime-local" name="fecha" id="fecha"  required/>
    </div>

    <button type="submit" th:href="@{programaRetiro}">Programar Retiro</button>
  </form>

  <a href="/cuenta">← Volver a la cuenta</a>
</div>

</body>
</html>