<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Historial de Transacciones</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
<h1>Historial de Transacciones</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Monto Total</th>
        <th>Detalle de Depósitos</th>
        <th>Informacio cliente</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaccion : ${historial}">
        <td th:text="${transaccion.tipo}">1</td>
        <td th:text="${transaccion.localDate}">2025-01-01</td>
        <td th:text="${transaccion.monto}">3</td>
        <td>
        </td>
        <td th:text="${transaccion.usuario}">
        </td>
    </tr>
    </tbody>
</table>

<br/>
<a href="/cuenta">Volver a la cuenta</a>
</body>
</html>
